nav .brand-logo {
    position: relative;
  }
  
  .valign-wrapper {
    flex-wrap: wrap;
  }

  .card {
    border: 1.5px solid purple;
    border-radius: 1em;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
  }

  section.quote-banner {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 58px;
    padding-left: 58px;
}
  
  